body{
    margin-top:80px;   
}


.navbar-expand-lg, .collapsed, button.navbar-toggler {
    background: $navbarColor !important;
    border: none;
    height: 80px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    text-decoration: none;    
}

ul li {
  display: block;
  margin-left: 20px !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;  
}

 