  body {
    background: $backgroundColor;
    font-size: 14px;
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
  }
  
  a:hover, a:active, a:link, a:visited {
    text-decoration: none;   
  }  
  .control-label {
    display: none;
  }

  .card-title{
    font-size: 16px;
    line-height: 28px;
    color: #60C8D0;
    padding-right: 10px;
    margin-bottom: 0;
  }

