<hr />
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-body">
                <p class="card-title">O que você quer fazer? </p>
                <%= link_to 'Anunciar um imóvel', new_immobile_path, class: 'btn-second' %>
                <%= link_to 'Gerenciar imóveis', immobiles_path, class: 'btn-second' %>
            </div>
        </div>
    </div>
</div>