<div class="collapse navbar-collapse" id="navbarLogin">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Serviรงos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ajuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Perguntas Frequentes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Preรงos</a>
        </li>
    </ul>
</div>

<div class="pull-right">
    <ul class="navbar-nav">
        <li>
            <%= link_to  'Cadastra-se' , signup_path, class: 'btn btn-first' %>
        </li>
        <li>
            <%= link_to  'Entrar' , login_path, class: 'btn btn-outline-first' %>
        </li>
    </ul>
</div>