<div class="pull-right">
    <ul class="navbar-nav">
        <li>
            <%= link_to  'Cadastra-se' , signup_path, class: 'btn btn-first' %>
        </li>
        <li>
            <%= link_to  'Entrar' , login_path, class: 'btn btn-outline-first' %>
        </li>
    </ul>
</div>